PORT=3000
NODE_ENV=development
BASE_URL=http://192.168.29.164:3000
APP_NAME=""

DB_HOST=localhost
DB_PORT=3306
DB_NAME=tiffany_new
DB_USER=root
DB_PASS=root

EMAIL_USER=aarchinahar999@gmail.com
EMAIL_PASS=epxe dilv iges rlvn

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
# JWT_ACCESS_EXPIRES_IN=15m
# JWT_REFRESH_EXPIRES_IN=7d
JWT_ACCESS_EXPIRES_IN=7d 
JWT_REFRESH_EXPIRES_IN=30d

JWT_TOKEN_SECRET=
JWT_TOKEN_EXPIRES_IN=30d

FCM_SECRET_KEY=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=


GOOGLE_CLIENT_ID=xxxxxxxx
GOOGLE_ANDROID_CLIENT_ID=
GOOGLE_WEB_CLIENT_ID=
GOOGLE_CLIENT_SECRET=xxxxxxxx

APPLE_CLIENT_ID=x
APPLE_TEAM_ID=x
APPLE_KEY_ID=x
APPLE_PRIVATE_KEY=x
